html *{
    font-family: Inter !important;
}

body{
    margin:0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav img{
    width: 10%;
    height:auto;
    margin-left: 5px;
}

nav div.nav-items{
    margin:0;
    padding:0;
    display:flex;
}

nav div.nav-items a{
    text-decoration: none;
    padding: 14px;
    color:black;
}

nav div.nav-items a:hover{
    background-color: #77d1e566;
    border-radius: 10px;
    color:black;
}

nav div.nav-items a:visited{
    color:black;
}

#subscribe {
    padding:14px;
}

#subscribe button{
    border: 0;
    border-radius: 10px;
    padding: 10px;
    background-color: #4495ad;
    color:white;
    font-weight:bold;
}

#subscribe button:hover{
    background-color: #87bfd0;
}