/* Global Styles */
:root {
    --font-family: 'Inter', sans-serif;
    --background-color: #f0f4f8;
    --text-color: #333;
    --primary-color: #4495ad;
    --primary-color-light: #87bfd0;
    --secondary-color: #285663;
    --card-background-color: #fff;
    --button-radius: 10px;
    --text-shadow-color: rgba(0, 0, 0, 0.5);
    --header-font-size: 4rem;
    --main-font-size: 3rem;
    --sub-font-size: 1.5rem;
    --small-font-size: 1rem;
    --header-margin: 10px;
    --button-padding: 10px 20px;
    --button-font-size: 1.2rem;
    --footer-bg-color: #285663;
    --footer-text-color: white;
    --footer-link-color: white;
}

html * {
    font-family: var(--font-family) !important;
}

body,
h1,
h2,
h3,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Solution Main Title */
.solutions-text {
    position: relative;
    width: 100%;
    height: 30vh; /* Adjust height as needed */
    background-image: url('/images/main.png');
    background-size: cover;
    background-position: center;
}

/* Solution Left Title */
.title-with-image {
    position: absolute;
    bottom: var(--header-margin);
    left: var(--header-margin);
    display: flex;
    align-items: center;
    z-index: 2; /* Ensure it stays above other content */
}

#cws-icon {
    width: 80px;
    height: auto;
    margin-left: 20px; /* Adjust as needed */
}

#cws-title {
    color: white;
    font-size: var(--header-font-size);
    font-weight: bold;
    text-shadow: 2px 2px 5px var(--text-shadow-color);
    line-height: 1;
}

/* Main Title */
#solutions-title {
    position: absolute;
    bottom: var(--header-margin);
    right: var(--header-margin);
    color: white;
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px var(--text-shadow-color);
    z-index: 2;
}

/* Solution Start Part */
.solution-start {
    max-width: 70%;
}

#solutions-start-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
    padding: 0%;
}

#solution-start-main {
    font-size: var(--main-font-size); 
    font-weight: bold;
    color: var(--secondary-color); 
    margin-bottom: 1rem;
}

#solution-start-body {
    font-size: var(--sub-font-size);
    color: var(--primary-color);
}

#solution-cwu-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--button-radius);
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    cursor: pointer;
    margin-top: 40px;
}

#solution-cwu-button:hover {
    background-color: var(--primary-color-light);
}

/* Solution Cards */
#solutions-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* Main card styling */
.solutions-main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}

#main-card {
    max-width: 100%; /* Ensure image is responsive */
    height: auto;
}

/* Style for each individual card */
.solutions-multiple-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px;
}

/* Card General Styling */
.card {
    border-radius: var(--button-radius);
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 600px;
    background-color: var(--card-background-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Unique styles for specific cards */
.card-1 {
    background-color: #285663;
}

.card-1 .card-header {
    color: #A0DDF0;
}

.card-1 .card-body {
    color: #A0DDF0;
}

.card-2 {
    background-color: #4494AD;
}

.card-2 .card-header {
    color: #A0DDF0;
}

.card-2 .card-body {
    color: #A0DDF0;
}

.card-3 {
    background-color: #87BFD0;
}

.card-3 .card-header {
    color: #285663;
}

.card-3 .card-body {
    color: #285663;
}

.card-4 {
    background-color: #A0DDF0;
}

.card-4 .card-header {
    color: #285663;
}

.card-4 .card-body {
    color: #285663;
}

.card-5 {
    background-color: #285663;
}

.card-5 .card-header {
    color: #A0DDF0;
}

.card-5 .card-body {
    color: #A0DDF0;
}

.card-6 {
    background-color: #4494AD;
}

.card-6 .card-header {
    color: #A0DDF0;
}

.card-6 .card-body {
    color: #A0DDF0;
}

/* Media Queries */
@media (max-width: 1200px) {
    #solutions-title {
        font-size: 4rem;
    }

    #cws-title {
        font-size: 3rem;
    }
}

@media (max-width: 992px) {
    .title-with-image {
        flex-direction: column; /* Stack image and text vertically */
        align-items: flex-start; /* Align items to the start */
        bottom: var(--header-margin);
        left: var(--header-margin);
        position: static; /* Reset position */
    }

    #cws-icon {
        margin-left: 0;
        margin-bottom: 20px;
    }

    #solutions-title {
        font-size: 3rem;
    }

    #cws-title {
        font-size: 2.5rem;
    }
}


@media (max-width: 768px) {
    #solution-start-main {
        font-size: calc(var(--main-font-size) * 1);
    }

    #solution-start-body {
        font-size: var(--sub-font-size);
    }

    #solution-cwu-button {
        font-size: var(--small-font-size);
        padding: 10px 16px;
    }
}