<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <img src="/images/amalgam_logo.png" alt="Logo" class="navbar-logo">
            <input type="checkbox" id="navbar-toggle">
            <label for="navbar-toggle" class="navbar-hamburger">☰</label>
            <div class="navbar-center">
                <div class="navbar-menu">
                    <a href="" class="navbar-item">Home</a>
                    <a href="" class="navbar-item">About</a>
                    <a href="" class="navbar-item">Challenges</a>
                    <a href="" class="navbar-item">Solutions</a>
                    <a href="" class="navbar-item">Resources</a>
                    <a href="" class="navbar-item">Get Involved</a>
                    <a href="" class="navbar-item">Events</a>
                    <a href="/views/contact-us.html" class="navbar-item">Contact Us</a>
                    <button id="subscribe-hamburger" class="button-style-blue-m bold">Subscribe</button>
                </div>
            </div>
            <button id="subscribe" class="button-style-blue-m bold">Subscribe</button>
        </div>
    </nav>
    <main>
        <h1>Content</h1>
    </main>

    <footer>
        <div id="footer-container">
            <div>
                <ul class="footer-list">
                    <li class="footer-list-header">Company</li>
                    <li class="footer-list-item"><a>About Us</a></li>
                    <li class="footer-list-item"><a>Get Involved</a></li>
                    <li class="footer-list-item"><a>Contact Us</a></li>
                </ul>
            </div>
            <div>
                <ul class="footer-list">
                    <li class="footer-list-header">Community</li>
                    <li class="footer-list-item"><a>Resources</a></li>
                    <li class="footer-list-item"><a>Events</a></li>
                </ul>
            </div>
            <div>
                <ul class="footer-list">
                    <li class="footer-list-header">What We Do</li>
                    <li class="footer-list-item"><a>Challenges</a></li>
                    <li class="footer-list-item"><a>Solutions</a></li>
                </ul>
            </div>
            <div>
                <ul class="footer-list flex">
                    <li class="footer-list-header">Social</li>
                    <li class="footer-list-item"><a href="/views/resources.html">Facebook</a></li>
                    <li class="footer-list-item"><a>Instagram</a></li>
                    <li class="footer-list-item"><a>Twitter</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>