<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/challenges.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <img src="/images/amalgam_logo.png" alt="Logo" class="navbar-logo">
                <input type="checkbox" id="navbar-toggle">
                <label for="navbar-toggle" class="navbar-hamburger">☰</label>
                <div class="navbar-center">
                    <div class="navbar-menu">
                        <a href="" class="navbar-item">Home</a>
                        <a href="/views/about-us.html" class="navbar-item">About</a>
                        <a id="active-page" href="/views/challenges.html" class="navbar-item"><b>Challenges</b></a>
                        <a href="" class="navbar-item">Solutions</a>
                        <a href="" class="navbar-item">Resources</a>
                        <a href="/views/get-involved.html" class="navbar-item">Get Involved</a>
                        <a href="/views/events.html" class="navbar-item">Events</a>
                        <a href="/views/contact-us.html" class="navbar-item">Contact Us</a>
                        <a href="" id="subscribe-hamburger"><button
                                class="button-style-blue-m bold">Subscribe</button></a>
                    </div>
                </div>
                <a href="" id="subscribe"><button class="button-style-blue-m bold">Subscribe</button></a>
            </div>
        </nav>
    </header>

    <main>
        <div class="banner">
            <h1>Challenges</h1>
        </div>
        <div class="introduction-container">
            <div class="introduction-left">
                <img class="water-bottle" src="/images/challenges-page/water-bottle.jpg" alt="">
            </div>
            <div class="introduction-right">
                <h1>Access</h1>
                <p> to clean water and sanitation is a basic human right and essential for sustainable
                    development, yet millions
                    still lack it, particularly in marginalized communities. Sustainable Development Goal 6 (SDG 6) aims
                    to ensure universal
                    access by 2030, but challenges like urbanization, pollution, climate change, and poor infrastructure
                    threaten progress.
                    This page highlights these issues and underscores the urgent need for global cooperation,
                    innovation, and sustainable
                    practices to secure water for future generations.
            </div>
        </div>
        <div class="challenges-container">
            <div class="challenge">
                <div class="challenge-photo">
                    <img src="/images/challenges-page/water-scarcity.jpg" alt="water-scarcity">
                </div>
                <div class="challenge-description">
                    <div class="challenge-header">
                        <h1><b>Water Scarcity</b></h1>
                        <span class="challenge-number">1</span>
                    </div>
                    <p>Many regions globally face water shortages due to factors like overpopulation, over-extraction,
                        climate change, and inefficient water management. Areas in sub-Saharan Africa, the Middle East,
                        and
                        parts of South
                        Asia are particularly affected.</p>
                </div>
            </div>
            <div class="challenge">
                <div class="challenge-photo">
                    <img src="/images/challenges-page/pollution.jpg" alt="pollution">
                </div>
                <div class="challenge-description">
                    <div class="challenge-header">
                        <h1><b>Pollution and Contamination</b></h1>
                        <span class="challenge-number">2</span>
                    </div>
                    <p>Pollutants from industrial waste, agricultural runoff, and untreated sewage contaminate
                        freshwater sources, threatening
                        ecosystems, human health, and access to safe drinking water.</p>
                </div>
            </div>
            <div class="challenge">
                <div class="challenge-photo">
                    <img src="/images/challenges-page/sanitation-facility.jpg" alt="sanitation-facility">
                </div>
                <div class="challenge-description">
                    <div class="challenge-header">
                        <h1><b>Access to Sanitation Facilities</b></h1>
                        <span class="challenge-number">3</span>
                    </div>
                    <p>Globally, around 2 billion people lack access to basic sanitation services, with disparities most
                        notable in rural areas
                        and informal settlements. This leads to health issues like waterborne diseases and restricts
                        overall development.
                    </p>
                </div>
            </div>
            <div class="challenge">
                <div class="challenge-photo">
                    <img src="/images/challenges-page/regional-disparities.jpg" alt="regional-disparities">
                </div>
                <div class="challenge-description">
                    <div class="challenge-header">
                        <h1><b>Regional Disparities</b></h1>
                        <span class="challenge-number">4</span>
                    </div>
                    <p>Access to water and sanitation varies drastically between regions due to differences in economic
                        status, governance,
                        geographic location, and infrastructure development. For instance, regions in Africa and South
                        Asia lag behind compared
                        to Europe and North America.
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">Company</li>
                <li class="footer-list-item"><a>About Us</a></li>
                <li class="footer-list-item"><a>Get Involved</a></li>
                <li class="footer-list-item"><a>Contact Us</a></li>
            </ul>
        </div>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">Community</li>
                <li class="footer-list-item"><a>Resources</a></li>
                <li class="footer-list-item"><a>Events</a></li>
            </ul>
        </div>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">What We Do</li>
                <li class="footer-list-item"><a>Challenges</a></li>
                <li class="footer-list-item"><a>Solutions</a></li>
            </ul>
        </div>
        <div>
            <ul class="footer-list flex">
                <li class="footer-list-header">Social</li>
                <li class="footer-list-item"><a href="/views/resources.html">Facebook</a></li>
                <li class="footer-list-item"><a>Instagram</a></li>
                <li class="footer-list-item"><a>Twitter</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>