<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/events.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Events</title>
</head>

<body>
    <!-- Header Section -->
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <img src="/images/amalgam_logo.png" alt="Logo" class="navbar-logo">
                <input type="checkbox" id="navbar-toggle">
                <label for="navbar-toggle" class="navbar-hamburger">☰</label>
                <div class="navbar-center">
                    <div class="navbar-menu">
                        <a href="/index.html" class="navbar-item">Home</a>
                        <a href="/views/about-us.html" class="navbar-item">About</a>
                        <a href="/views/challenges.html" class="navbar-item">Challenges</a>
                        <a href="/views/solutions.html" class="navbar-item">Solutions</a>
                        <a href="/views/resources.html" class="navbar-item">Resources</a>
                        <a href="/views/get-involved.html" class="navbar-item">Get Involved</a>
                        <a href="/views/events.html" class="navbar-item">Events</a>
                        <a href="/views/contact-us.html" class="navbar-item">Contact Us</a>
                        <button id="subscribe-hamburger" class="button-style-blue-m bold"
                            onClick="window.location.href='news-letter.html'">Subscribe</button>
                    </div>
                </div>
                <button id="subscribe" class="button-style-blue-m bold"
                    onClick="window.location.href='news-letter.html'">Subscribe</button>
            </div>
        </nav>
    </header>
    <main class="main-content">
        <div class="events-banner">
            <div class="banner-left-column">
                <h1>Events</h1>
            </div>
            <div class="banner-right-column">
                <h2>Clean Water<br> and Sanitation</h2>
                <img class="banner-right-waterdrop-vector" src="/images/waterdrop-vector.png" alt="waterdrop-vector">
            </div>
        </div>
        <div class="event-interface">
            <div class="event-cards">
                <div class="event">
                    <div class="event-banner">
                        <img src="/images/events-page/ecosoc-background-img.png" alt="Card Background">
                    </div>
                    <div class="event-details">
                        <p class="date">Tue 30 Jan 2024, 10.00 am</p>
                        <h1 class="event-card-title">2024 ECOSOC Partnership Forum</h1>
                        <p class="event-description">
                            The 2024 Partnership Forum of the Economic and Social Council (ECOSOC) was held on 30
                            January
                            2024 at the United Nations
                            Headquarters in New York under the theme of “Reinforcing the 2030 Agenda and eradicating
                            poverty
                            in times of multiple
                            crises: the effective delivery of sustainable, resilient and innovative solutions”
                        </p>
                        <a href="https://sdgs.un.org/2024ECOSOCPartnershipForum" target="_blank">
                            <p class="for-more-information">Click here to see more about the event</p>
                        </a>
                    </div>
                </div>
                <div class="event">
                    <div class="event-banner">
                        <img src="/images/events-page/9th-multi-stakeholder-forum-banner.jpg" alt="Card Background">
                    </div>
                    <div class="event-details">
                        <p class="date">09 May 2024, 10.00 am — 10 May 2024, 6.00 pm
                        </p>
                        <h1 class="event-card-title">9th Multi-stakeholder Forum on Science, Technology and Innovation
                            for the Sustainable Development Goals
                        </h1>
                        <p class="event-description">
                            “Science, technology and innovation for reinforcing the 2030 Agenda and eradicating poverty
                            in times of multiple crises:
                            the effective delivery of sustainable, resilient and innovative solutions”.
                        </p>
                        <a href="https://sdgs.un.org/tfm/STIForum2024" target="_blank">
                            <p class="for-more-information">Click here to see more about the event</p>
                        </a>
                    </div>
                </div>
                <div class="event">
                    <div class="event-banner">
                        <img src="/images/events-page/first-islands-water-congress-banner.jpg" alt="Card Background">
                    </div>
                    <div class="event-details">
                        <p class="date">4–6 September 2024</p>
                        <h1 class="event-card-title">First Islands Water Congress</h1>
                        <p class="event-description">
                            The First Islands Water Congress will convene under the theme, ‘Freshwater and Islands:
                            Administration, Collaboration,
                            and Innovation’.F
                        </p>
                        <a href="https://sdg.iisd.org/events/first-islands-water-congress/" target="_blank">
                            <p class="for-more-information">Click here to see more about the event</p>
                        </a>
                    </div>
                </div>
                <div class="event">
                    <div class="event-banner">
                        <img src="/images/events-page/fifth-global-climate-conference-banner.jpg" alt="Card Background">
                    </div>
                    <div class="event-details">
                        <p class="date">5–6 September 2024</p>
                        <h1 class="event-card-title">Fifth Global Climate and SDG Synergy Conference</h1>
                        <p class="event-description">
                            The Conference will result in a summary with a set of recommendations for enhancing
                            synergistic implementation of the
                            SDGs and climate action at both political and practical levels and a set of empirical
                            evidence on the co-benefits of the
                            SDGs and climate action, including how Member States are delivering jointly on these two
                            agendas.
                        </p>
                        <a href="https://sdg.iisd.org/events/fifth-global-climate-and-sdg-synergy-conference/"
                            target="_blank">
                            <p class="for-more-information">Click here to see more about the event</p>
                        </a>
                    </div>
                </div>
                <div class="event">
                    <div class="event-banner">
                        <img src="/images/events-page/IAH-world-ground-water-congress-banner.png" alt="Card Background">
                    </div>
                    <div class="event-details">
                        <p class="date">8–13 September 2024</p>
                        <h1 class="event-card-title">IAH World Groundwater Congress</h1>
                        <p class="event-description">
                            The Conference will result in a summary with a set of recommendations for enhancing
                            synergistic implementation of the
                            SDGs and climate action at both political and practical levels and a set of empirical
                            evidence on the co-benefits of the
                            SDGs and climate action, including how Member States are delivering jointly on these two
                            agendas.
                        </p>
                        <a href="https://sdg.iisd.org/events/fifth-global-climate-and-sdg-synergy-conference/"
                            target="_blank">
                            <p class="for-more-information">Click here to see more about the event</p>
                        </a>
                    </div>
                </div>
                <div class="event">
                    <div class="event-banner">
                        <img src="/images/events-page/global-goals-week-banner.jpg" alt="Card Background">
                    </div>
                    <div class="event-details">
                        <p class="date">20–29 September 2024</p>
                        <h1 class="event-card-title">Global Goals Week 2024</h1>
                        <p class="event-description">
                            Global Goals Week 2024 aims to mobilize communities, demand urgency to accelerate progress
                            on the SDGs, and supercharge
                            solutions for people and the planet.
                        </p>
                        <a href="https://sdg.iisd.org/events/global-goals-week-2024/" target="_blank">
                            <p class="for-more-information">Click here to see more about the event</p>
                        </a>
                    </div>
                </div>
                <div class="event">
                    <div class="event-banner">
                        <img src="/images/events-page/one-water-summit-banner.jpg" alt="Card Background">
                    </div>
                    <div class="event-details">
                        <p class="date">23 September 2024</p>
                        <h1 class="event-card-title">One Water Summit</h1>
                        <p class="event-description">
                            The One Water Summit will accelerate action on SDG 6 (clean water and sanitation) and
                            discuss solutions to water
                            challenges, in preparation for the 2026 UN Water Conference. The Summit will convene on the
                            margins of the high-level
                            week of the 79th session of the UN General Assembly (UNGA).
                        </p>
                        <a href="https://sdg.iisd.org/events/one-water-summit/" target="_blank">
                            <p class="for-more-information">Click here to see more about the event</p>
                        </a>
                    </div>
                </div>
                <div class="event">
                    <div class="event-banner">
                        <img src="/images/events-page/compact-leaders-summit-banner.jpg" alt="Card Background">
                    </div>
                    <div class="event-details">
                        <p class="date">24 September 2024</p>
                        <h1 class="event-card-title">UN Global Compact Leaders Summit 2024</h1>
                        <p class="event-description">
                            The UN Global Compact Leaders Summit 2024 will bring together business leaders, UN
                            officials, government leaders, SDG
                            stakeholders, and civil society representatives to review the private sector’s contribution
                            to advancing the SDGs. The
                            Summit will convene during the UN General Assembly (UNGA) High-level Week and will take
                            place in conjunction with the
                            Summit of the Future.
                        </p>
                        <a href="https://sdg.iisd.org/events/un-global-compact-leaders-summit-2024/" target="_blank">
                            <p class="for-more-information">Click here to see more about the event</p>
                        </a>
                    </div>
                </div>
                <div class="event">
                    <div class="event-banner">
                        <img src="/images/events-page/15th-meetings-sdg-indicators-banner.jpg" alt="Card Background">
                    </div>
                    <div class="event-details">
                        <p class="date">21–23 October 2024</p>
                        <h1 class="event-card-title">15th meeting of the Inter-agency and Expert Group on SDG Indicators
                        </h1>
                        <p class="event-description">
                            The in-person gathering will have a members-only meeting during the first day (21 October)
                            and plenary sessions during
                            the following two days (22-23 October). All countries, international and regional agencies
                            and entities, and other
                            stakeholders are invited to attend the plenary sessions.
                        </p>
                        <a href="https://sdg.iisd.org/events/15th-meeting-of-the-inter-agency-and-expert-group-on-sdg-indicators/"
                            target="_blank">
                            <p class="for-more-information">Click here to see more about the event</p>
                        </a>
                    </div>
                </div>
                <div class="event">
                    <div class="event-banner">
                        <img src="/images/events-page/10th-session-water-convention-banner.jpg" alt="Card Background">
                    </div>
                    <div class="event-details">
                        <p class="date">23–25 October 2024</p>
                        <h1 class="event-card-title">10th Session of the Meeting of the Parties to the Water Convention
                        </h1>
                        <p class="event-description">
                            The UN Economic Commission for Europe (UNECE) will organize the meeting in cooperation with
                            the Government of Slovenia.
                            The meeting is anticipated to consider different aspects of transboundary water cooperation
                            that have been addressed in
                            the Convention’s programme of work for 2022-2024 and reporting under the Water Convention,
                            among other topics.
                        </p>
                        <a href="https://sdg.iisd.org/events/10th-session-of-the-meeting-of-the-parties-to-the-water-convention/"
                            target="_blank">
                            <p class="for-more-information">Click here to see more about the event</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>
    <div id="footer-container">
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">Company</li>
                <li class="footer-list-item">About Us</li>
                <li class="footer-list-item">Get Involved</li>
                <li class="footer-list-item">Contact Us</li>
            </ul>
        </div>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">Community</li>
                <li class="footer-list-item">Resources</li>
                <li class="footer-list-item">Events</li>
            </ul>
        </div>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">What We Do</li>
                <li class="footer-list-item">Challenges</li>
                <li class="footer-list-item">Solutions</li>
            </ul>
        </div>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">Social</li>
                <li class="footer-list-item"><a href="/views/resources.html">Facebook</a></li>
                <li class="footer-list-item">Instagram</li>
                <li class="footer-list-item">Twitter</li>
            </ul>
        </div>
    </div>
</footer>

</html>