<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
<body>
    <nav>
        NAVBAR
    </nav>
    <main>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione officia nostrum quo pariatur ipsum fugiat exercitationem eos cum, blanditiis beatae quibusdam itaque asperiores et error saepe voluptas maiores nemo quas.</h1>
    </main>
    <footer>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">Company</li>
                <li class="footer-list-item">About Us</li>
                <li class="footer-list-item">Get Involved</li>
                <li class="footer-list-item">Contact Us</li>
            </ul>
        </div>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">Community</li>
                <li class="footer-list-item">Resources</li>
                <li class="footer-list-item">Events</li>
            </ul>
        </div>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">What We Do</li>
                <li class="footer-list-item">Challenges</li>
                <li class="footer-list-item">Solutions</li>
            </ul>
        </div>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">Social</li>
                <li class="footer-list-item">Facebook</li>
                <li class="footer-list-item">Instagram</li>
                <li class="footer-list-item">Twitter</li>
            </ul>
        </div>
        <div>Subscribe</div>
    </footer>
</body>
</html>