<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
<body>
    <nav>
        NAVBAR
    </nav>
    <main>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione officia nostrum quo pariatur ipsum fugiat exercitationem eos cum, blanditiis beatae quibusdam itaque asperiores et error saepe voluptas maiores nemo quas.</h1>
    </main>
    <footer>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">Company</li>
                <li class="footer-list-item"><a>About Us</a></li>
                <li class="footer-list-item"><a>Get Involved</a></li>
                <li class="footer-list-item"><a>Contact Us</a></li>
            </ul>
        </div>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">Community</li>
                <li class="footer-list-item"><a>Resources</a></li>
                <li class="footer-list-item"><a>Events</a></li>
            </ul>
        </div>
        <div>
            <ul class="footer-list">
                <li class="footer-list-header">What We Do</li>
                <li class="footer-list-item"><a>Challenges</a></li>
                <li class="footer-list-item"><a>Solutions</a></li>
            </ul>
        </div>
        <div>
            <ul class="footer-list flex">
                <li class="footer-list-header">Social</li>
                <li class="footer-list-item"><a>Facebook</a></li>
                <li class="footer-list-item"><a>Instagram</a></li>
                <li class="footer-list-item"><a>Twitter</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>