<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Clean Water and Sanitation</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <!-- Header Section -->
    <header>
         <nav>
            <img src="/images/amalgam_logo.png" alt="Logo">
            <div class="nav-items">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Challenges</a>
                <a href="">Solutions</a>
                <a href="">Resources</a>
                <a href="">Get Involved</a>
                <a href="">Events</a>
                <a href="/views/contact-us.html">Contact Us</a>
            </div>
            <a href="" id="subscribe"><button> Subscribe </button></a>
        </nav>
    </header>

    <!-- Main Banner Section -->
    <section class="main-banner">
        <div class="banner-content">
            <h1>CLEAN<br>WATER<br>AND<br>SANITATION</h1>
            <img src="/images/water.png" alt="Clean Water and Sanitation">
        </div>
    </section>

    <!-- Icons Section -->
    <section class="icons-section">
        <h1>Sustainable Development Goals 6</h1>
        <div class="icons">
            <div class="icon">
                <img src="/images/water-droplets-icon.png" alt="Icon 1">
                <p>Water <br>Conservation</p>
            </div>
            <div class="icon">
                <img src="/images/glasswater-icon.png" alt="Icon 2">
                <p>Access to Safe <br>Drinking Water</p>
            </div>
            <div class="icon">
                <img src="/images/faucet-icon.png" alt="Icon 3">
                <p>Water Quality <br>and Sanitation</p>
            </div>
        </div>
    </section>

    <!-- Content Section -->
    <section class="content-section">
        <div class="content-left">
            <h1>ENSURE AVAILABILITY AND<br> SUSTAINABLE<br> MANAGEMENT OF WATER<br>AND SANITATION FOR ALL.</h1>
        </div>
        <div class="content-right">
            <p>One in three people live without sanitation. This is causing unnecessary disease and death. Although huge strides have been made with access to clean drinking water, lack of sanitation is undermining these advances. If we provide affordable equipment and education in hygiene practices, we can stop this senseless suffering and loss of life.</p>
            <button>Resources</button>
            <button>About Us</button>
            <button>Solutions</button>
        </div>
    </section>

    <!-- Quotes Section -->
    <section class="quotes-section">
        <div class="quote">
            <p>"If there is magic in this planet, it is contained in water." - <strong>Loren Eiseley</strong></p>
        </div>
        <div class="quote-image">
            <img src="/images/loren-eiseley.png" alt="Loren Eiseley">
        </div>
    </section>

    <!-- Donation Section -->
    <section class="donation-section">
        <img src="/images/faucet-hand-photo.png" alt="Donation">
        <h1>Donate today and make twice the impact!</h1>
    </section>

    <div class="newsletter">
        <img src="/images/left-hand-waterbottle-photo.png" alt="Left Hand Holding Water Bottle`">
        <div class="email-form-container">
            <h1>Thirst for Knowledge? <br>Quench it with Our Newsletter on Water and Sanitation!</h1>
            <!-- Submit Form -->
			<form id="submit-form" method="post" action="#">
				<input type="email" name="email" id="email" placeholder="Email Address" />
				<input type="submit" id="submit" value="Submit" />
			</form>
        </div>
        <img src="/images/right-hand-waterbottle-photo.png" alt="Right Hand Holding Water Bottle`">
    </div>
</body>
</html>
