<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Clean Water and Sanitation</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <img src="/images/amalgam_logo.png" alt="Logo" class="navbar-logo">
                <input type="checkbox" id="navbar-toggle">
                <label for="navbar-toggle" class="navbar-hamburger">☰</label>
                <div class="navbar-center">
                    <div class="navbar-menu">
                        <a href="index.html" class="navbar-item">Home</a>
                        <a href="about-us.html" class="navbar-item">About</a>
                        <a href="" class="navbar-item">Challenges</a>
                        <a href="solutions.html" class="navbar-item">Solutions</a>
                        <a href="resources.html" class="navbar-item">Resources</a>
                        <a href="get-involved.html" class="navbar-item">Get Involved</a>
                        <a href="events.html" class="navbar-item">Events</a>
                        <a href="/views/contact-us.html" class="navbar-item">Contact Us</a>
                        <button id="subscribe-hamburger" class="button-style-blue-m bold" onClick="window.location.href='news-letter.html'">Subscribe</button>
                    </div>
                </div>
                <button id="subscribe" class="button-style-blue-m bold" onClick="window.location.href='news-letter.html'">Subscribe</button>
            </div>
        </nav>
    </header>

    <!-- Main Banner Section -->
    <section class="main-banner">
        <div class="banner-content">
            <h1>CLEAN<br>WATER<br>AND<br>SANITATION</h1>
        </div>
    </section>

    <!-- Icons Section -->
    <section class="icons-section">
        <h1>Sustainable Development Goals 6</h1>
        <div class="icons">
            <div class="icon">
                <img src="/images/water-droplets-icon.png" alt="Icon 1">
                <p>Water <br>Conservation</p>
            </div>
            <div class="icon">
                <img src="/images/glasswater-icon.png" alt="Icon 2">
                <p>Access to Safe <br>Drinking Water</p>
            </div>
            <div class="icon">
                <img src="/images/faucet-icon.png" alt="Icon 3">
                <p>Water Quality <br>and Sanitation</p>
            </div>
        </div>
    </section>

    <!-- Content Section -->
    <section class="content-section">
        <div class="content-left">
            <h1>ENSURE AVAILABILITY AND<br> SUSTAINABLE<br> MANAGEMENT OF WATER<br>AND SANITATION FOR ALL.</h1>
        </div>
        <div class="content-right">
            <p>One in three people live without sanitation. This is causing unnecessary disease and death. Although huge strides have been made with access to clean drinking water, lack of sanitation is undermining these advances. If we provide affordable equipment and education in hygiene practices, we can stop this senseless suffering and loss of life.</p>
            <button>Resources</button>
            <button>About Us</button>
            <button>Solutions</button>
        </div>
    </section>
    
        <!-- Quotes Section -->
        <section class="quotes-section">
            <div class="quote">
                <p>"If there is magic in this planet, it is contained in water." - <strong>Loren Eiseley</strong></p>
            </div>
            <div class="quote-image">
                <img src="/images/loren-eiseley.png" alt="Loren Eiseley">
            </div>
        </section>
    
        <!-- Donation Section -->
        <section class="donation-section">
            <div class="donation-container">
                <img class="donation-image" src="/images/faucet-hand-photo.png" alt="Donation">
                <div>
                    <h1>Donate <br>today and <br>make twice <br>the impact!</h1>
                    <div class="payment-options-container">
                        <div class="payment-card"><img src="/images/visa-logo.png" alt="Visa"></div>
                        <div class="payment-card"><img src="/images/paypal-logo.png" alt="PayPal"></div>
                        <div class="payment-card"><img src="/images/apple-pay-logo.png" alt="Apple Pay"></div>
                        <div class="payment-card"><img src="/images/google-pay-logo.png" alt="Google Pay"></div>
                        <div class="payment-card"><img src="/images/mastercard-logo.png" alt="MasterCard"></div>
                        <div class="payment-card"><img src="/images/bitcoin-logo.png" alt="Bitcoin"></div>
                    </div>
                </div>
            </div>
        </section>
    
    <div class="newsletter">
        <div class="newsletter-image">
            <img src="/images/left-hand-waterbottle-photo.png" alt="Left Hand Holding Water Bottle`">
        </div>
        <div class="email-form-container">
            <h1>Thirst for Knowledge? <br>Quench it with Our Newsletter on Water and Sanitation!</h1>
            <!-- Submit Form -->
			<form id="submit-form" method="post" action="#">
				<input type="email" name="email" id="email" placeholder="Email Address" />
				<input type="submit" id="submit" value="Submit" />
			</form>
        </div>
        <div class="newsletter-image">
            <img src="/images/right-hand-waterbottle-photo.png" alt="Right Hand Holding Water Bottle`">
        </div>
    </div>
    <footer>
        <div id="footer-container">
            <div>
                <ul class="footer-list">
                    <li class="footer-list-header">Company</li>
                    <li class="footer-list-item">About Us</li>
                    <li class="footer-list-item">Get Involved</li>
                    <li class="footer-list-item">Contact Us</li>
                </ul>
            </div>
            <div>
                <ul class="footer-list">
                    <li class="footer-list-header">Community</li>
                    <li class="footer-list-item">Resources</li>
                    <li class="footer-list-item">Events</li>
                </ul>
            </div>
            <div>
                <ul class="footer-list">
                    <li class="footer-list-header">What We Do</li>
                    <li class="footer-list-item">Challenges</li>
                    <li class="footer-list-item">Solutions</li>
                </ul>
            </div>
            <div>
                <ul class="footer-list">
                    <li class="footer-list-header">Social</li>
                    <li class="footer-list-item"><a href="/views/resources.html">Facebook</a></li>
                    <li class="footer-list-item">Instagram</li>
                    <li class="footer-list-item">Twitter</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
