<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/navbar.css">
        <title>Amalgam</title>
    </head>
    <body>
        <nav>
            <img src="/images/amalgam_logo.png" alt="Logo">
            <div class="nav-items">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Challenges</a>
                <a href="">Solutions</a>
                <a href="">Resources</a>
                <a href="">Get Involved</a>
                <a href="">Events</a>
                <a href="/views/contact-us.html">Contact Us</a>
            </div>
            <a href="" id="subscribe"><button> Subscribe </button></a>
        </nav>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>