<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/navbar.css">
        <title>Amalgam</title>
    </head>
    <body>
        <nav>
           <ul>
            <li id="logo"><img src="/images/amalgam_logo.png" alt="Logo"></li>
            <li class="nav_item"><a href="">Home</a></li>
            <li class="nav_item"><a href="">About</a></li>
            <li class="nav_item"><a href="">Challenges</a></li>
            <li class="nav_item"><a href="">Solutions</a></li>
            <li class="nav_item"><a href="">Resources</a></li>
            <li class="nav_item"><a href="">Get Involved</a></li>
            <li class="nav_item"><a href="">Events</a></li>
            <li class="nav_item"><a href="">Contact Us</a></li>
            <li id="subscribe_button">Subscribe</li>
           </ul> 
        </nav>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>