<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solutions</title>
    <link rel="stylesheet" href="/css/solutions.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <img src="/images/amalgam_logo.png" alt="Logo" class="navbar-logo">
                <input type="checkbox" id="navbar-toggle">
                <label for="navbar-toggle" class="navbar-hamburger">☰</label>
                <div class="navbar-center">
                    <div class="navbar-menu">
                        <a href="index.html" class="navbar-item">Home</a>
                        <a href="about-us.html" class="navbar-item">About</a>
                        <a href="" class="navbar-item">Challenges</a>
                        <a href="solutions.html" class="navbar-item">Solutions</a>
                        <a href="resources.html" class="navbar-item">Resources</a>
                        <a href="" class="navbar-item">Get Involved</a>
                        <a href="" class="navbar-item">Events</a>
                        <a href="/views/contact-us.html" class="navbar-item">Contact Us</a>
                        <a href="news-letter.html" id="subscribe-hamburger"><button class="button-style-blue-m bold">Subscribe</button></a> 
                    </div>
                </div>
                <a href="news-letter.html" id="subscribe"><button class="button-style-blue-m bold">Subscribe</button></a>
            </div>
        </nav>    
    </header>

    <main>
        <div id="solutions">
            <div class="solutions-text">
                <div class="title-with-image">
                    <h1 id="cws-title">Clean Water<br>and Sanitation</h1>
                    <img src="/images/water_logo.png" alt="Icon" id="cws-icon">
                </div>
                <h1 id="solutions-title">Solutions</h1>
            </div>
        </div>
        <div id="solutions-start-text">
            <div class="solution-start">
                <h1 id="solution-start-main">Solutions for Achieving SDG 6 – <br>Ensuring Clean Water and Sanitation for All</h1>
                <h2 id="solution-start-body">Achieving Sustainable Development Goal 6 requires a combination of innovative technologies and collaborative efforts. Around the world, solutions such as advanced water purification systems, sustainable wastewater management, and effective policies are being implemented to tackle the challenges of clean water and sanitation access.<br><br>
                    Success in these areas depends on sustainable practices, community empowerment, and partnerships between public and private sectors. Through innovation and cooperation, these approaches aim to ensure clean water and sanitation for all, securing a healthier and more sustainable future.
                    </h2>
                <button id="solution-cwu-button">Connect With Us</button>
            </div>
        </div>
        <div id="solutions-cards">
            <div class="solutions-main-card">
                <img src="/images/people.png" alt="People Icon" id="main-card">
            </div>
            <div class="solutions-multiple-cards-container">
                <div class="solutions-multiple-cards">
                    <div class="card card-1">
                        <img src="/images/card-1-img.jpg" alt="Card 1" id="card-1-img">
                        <h2 class="card-header">Improving Access to Safe Drinking Water</h2>
                        <p class="card-body">Access to clean and safe drinking water is essential for health and well-being. Our projects focus on building and upgrading infrastructure to provide safe and reliable water sources. This includes installing water purification systems, digging wells in underserved areas, and implementing rainwater harvesting techniques. By ensuring that communities have access to clean drinking water, we aim to prevent waterborne diseases and promote overall health.</p>
                    </div>
                    <div class="card card-2">
                        <img src="/images/card-2-img.jpg" alt="Card 1" id="card-1-img">
                        <h2 class="card-header">Enhancing Sanitation and Hygiene Facilities</h2>
                        <p class="card-body">Proper sanitation is a fundamental right and a critical part of human dignity. We work on developing and maintaining sanitation facilities, such as toilets and waste management systems, particularly in schools and public places. By promoting good hygiene practices and providing access to clean and safe toilets, we help reduce the spread of diseases and improve the quality of life in communities.</p>
                    </div>
                    <div class="card card-3">
                        <img src="/images/card-3-img.jpg" alt="Card 1" id="card-1-img">
                        <h2 class="card-header">Promoting Efficient Water Use and Management</h2>
                        <p class="card-body">Water is a precious resource that must be used wisely. Our initiatives include educating communities on water conservation practices and implementing technologies like drip irrigation in agriculture. We also support the reuse and recycling of water in various industries. By promoting efficient water use, we can reduce water wastage, lower costs, and ensure sustainable water supplies for future generations.</p>
                    </div>
                    <div class="card card-4">
                        <img src="/images/card-4-img.jpg" alt="Card 1" id="card-1-img">
                        <h2 class="card-header">Reducing Water Pollution</h2>
                        <p class="card-body">Water pollution poses a serious threat to ecosystems and human health. We actively work on initiatives to reduce contaminants entering our water bodies by advocating for sustainable agricultural practices, proper disposal of industrial waste, and the reduction of plastic pollution. Our projects include setting up water treatment plants and encouraging the use of biodegradable products to minimize harmful pollutants.</p>
                    </div>
                    <div class="card card-5">
                        <img src="/images/card-5-img.jpg" alt="Card 1" id="card-1-img">
                        <h2 class="card-header">Community Education and Engagement</h2>
                        <p class="card-body">Empowering communities with knowledge is key to sustainable change. We conduct workshops, training sessions, and awareness campaigns to educate people about the importance of clean water and sanitation. By engaging with local communities, we ensure that everyone understands the role they play in water conservation and maintaining hygiene, fostering a culture of responsibility and care.</p>
                    </div>
                    <div class="card card-6">
                        <img src="/images/card-6-img.jpg" alt="Card 1" id="card-1-img">
                        <h2 class="card-header">Leveraging Technology for Water Management</h2>
                        <p class="card-body">Innovation drives progress. We integrate modern technologies such as smart sensors for real-time water quality monitoring and data analytics to predict and manage water demand efficiently. These technologies help in better managing water distribution systems, reducing losses, and ensuring that water is available where it is most needed.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div id="footer-container">
            <div>
                <ul class="footer-list">
                    <li class="footer-list-header">Company</li>
                    <li class="footer-list-item">About Us</li>
                    <li class="footer-list-item">Get Involved</li>
                    <li class="footer-list-item">Contact Us</li>
                </ul>
            </div>
            <div>
                <ul class="footer-list">
                    <li class="footer-list-header">Community</li>
                    <li class="footer-list-item">Resources</li>
                    <li class="footer-list-item">Events</li>
                </ul>
            </div>
            <div>
                <ul class="footer-list">
                    <li class="footer-list-header">What We Do</li>
                    <li class="footer-list-item">Challenges</li>
                    <li class="footer-list-item">Solutions</li>
                </ul>
            </div>
            <div>
                <ul class="footer-list">
                    <li class="footer-list-header">Social</li>
                    <li class="footer-list-item"><a href="/views/resources.html">Facebook</a></li>
                    <li class="footer-list-item">Instagram</li>
                    <li class="footer-list-item">Twitter</li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>
